# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

combined_content.txt
.env
backend/api-service/data/*
print_rendering_context.txt
selected_files.txt
prompt.md
backend/api-service/data/0f153465-5b2d-4260-b5ad-3aef004f9837.db
backend/api-service/data/0f153465-5b2d-4260-b5ad-3aef004f9837.db-shm
backend/api-service/data/0f153465-5b2d-4260-b5ad-3aef004f9837.db-wal
